@import "./variables";
@import "./mixins";

%BodyPaddingWithMediaQueries {
  display: block;
  padding: 0 $MobileBodyPadding;

  @include respond-to(tablet) {
    padding: 0 $TabletBodyPadding;
  }

  @include respond-to(desktop) {
    max-width: 1066px;
    margin: {
      left: auto;
      right: auto;
    }
    padding: 0 $DesktopBodyPadding;
  }
}
