@import "../../../../../../../scss/partials/helpers";
@import "../../../../../../../scss/partials/mixins";

$buttonWidth: 11px;

$height: 220px;
$tablet-height: 428px;

$scrollerItemSidePadding: 5%; // needs to stay as a %ge

.buttonLeft, .buttonRight {
  display: inline-block;
  width: $buttonWidth;
  height: $height;
  cursor: pointer;

  img {
    vertical-align: middle;
    width: 100%;
  }

  @include respond-to(tablet) {
    height: $tablet-height;
  }
}

.imagesList :global .track-wrapper {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  width: calc(100% - #{$buttonWidth} - #{$buttonWidth});
  height: $height;
  text-align: center;

  @include respond-to(tablet) {
    height: $tablet-height;
  }
}

.imagesList :global .track {
  height: $height;

  @include respond-to(tablet) {
    height: $tablet-height;
  }
}

.videoListItem {
  margin: 0 auto;
  width: 35%;

  @include respond-to(tablet) {
    width: 20%;
  }
}

.scrollerImage {
  padding: 0 $scrollerItemSidePadding;
}

.fitBackground {
  @extend %fitBackground;
}

/*
 lightbox content styling
 */

:global #lightbox :local .imagesList {
  display: inline-block;
  width: 100%;
}

:global #lightbox :local .videoLightboxPadding {
  display: inline-block;
  padding-left: $scrollerItemSidePadding;
  padding-right: $scrollerItemSidePadding;
  width: 100% - ($scrollerItemSidePadding * 2);
  height: 100%;
}

// hide position circles
:global #lightbox :local .imagesList :global .position-circles {
  display: none;
}
