@import '../../../../../../../scss/partials/variables';
@import '../../../../../../../scss/partials/mixins';
@import '../Tabs';

$marginTopColor: 28px;

.literature {
  display: inline-block;
  vertical-align: top;
  width: 86px;
  margin: 0px 20px 15px 0px;
}

h5.colorMaterialType {
  margin-bottom: 0px;

  @include respond-to(tablet) {
    margin-bottom: 10px;
  }
}

.colorBlock {
  @extend %rowMarginBottom;
}

.color {
  display: inline-block;
  vertical-align: top;
  margin: $marginTopColor 20px 0px 0px;
  width: calc(50% - 10px);

  &:nth-child(even) {
    margin-right: 0;
  }

  @include respond-to(mobile) {
    width: 100px;

    &:nth-child(even) {
      margin-right: 20px;
    }
  }
}

.colorImage {
  margin-bottom: 14px;
  width: 100%;
  height: auto;
  border: 1px solid $thumbnail-border;

  @include respond-to(mobile) {
    width: 100px;
    height: 100px;
  }
}

.colorTitle {
  line-height: normal;
  color: $black;
}
