@import '../../../../../../scss/partials/text-styles';
@import '../../../../../../scss/partials/variables';
@import '../../../../../../scss/partials/mixins';
@import '../../../../../../scss/partials/helpers';
@import '../../../../../../scss/partials/layout';
@import '../../../../../../scss/partials/grid';

$marginBetweenColumns: 75px;
$fullWidthColBreakpoint: 600px;

%allCols {
  text-align: left;
  // display: inline-block;
  // vertical-align: top;

  li {
    list-style: none;
  }
}

%rowMarginBottom {
  margin-bottom: 40px;

  @include respond-to(tablet) {
    margin-bottom: 60px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.row {
  @extend %rowMarginBottom;
}

.fullWidthColDesktopTab {
  @include col(1) {
    @extend %allCols;
  }
}

.halfWidthColDesktopTab {
  @include col(2) {
    @extend %allCols;
  }

  @include respond-to-custom($fullWidthColBreakpoint) {
    &:nth-child(odd) {
      padding-right: $marginBetweenColumns / 2;
    }

    &:nth-child(even) {
      padding-left: $marginBetweenColumns / 2;
    }
  }
}

.thirdWidthColDesktopTab {
  // do mobile
  @include col(1) {
    @extend %allCols;
  }

  // custom column breakpoint
  @include respond-to-custom($fullWidthColBreakpoint) {
    &:nth-child(3n + 1) {
      @include col(2) {
        padding-right: $marginBetweenColumns / 2;
      }
    }

    &:nth-child(3n + 2) {
      @include col(2) {
        padding-left: $marginBetweenColumns / 2;
      }
    }

    &:nth-child(3n + 0) {
      // every third column will be full width
      @include col(1) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // desktop breakpoint
  @include respond-to(desktop) {
    &:nth-child(3n + 1) {
      @include col(3) {
        padding-right: $marginBetweenColumns / 2;
      }
    }

    &:nth-child(3n + 2) {
      @include col(3) {
        padding-right: $marginBetweenColumns / 2;
        padding-left: $marginBetweenColumns / 2;
      }
    }

    &:nth-child(3n + 0) {
      // width: get-col-width(3);
      @include col(3) {
        padding-left: $marginBetweenColumns / 2;
      }
    }
  }
}

.tabColUl {
  padding: 0;

  &:last-child {
    margin-bottom: 0px;
  }
}

h5.tabColTitle {
  margin-top: 0;
  margin-bottom: 25px;
  color: $navy;

  @include respond-to(tablet) {
    margin-bottom: 40px;
  }
}

.tabTextOrangeLink {
  display: block;
  padding-left: 26px;
  position: relative;
  .wordPDFIcon {
    position: absolute;
    top: 0;
    left: 0;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.tabTextOrange {
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;

  &:last-child {
    margin-bottom: 0px;
  }
}

.wordPDFIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  width: 13px;
  height: 17px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.videoColMaxWidth {
  @include respond-to-custom($fullWidthColBreakpoint) {
    // padding-right: calc(100% - 280px);
  }
}

.videoApectRatioWrapper {
  @extend %aspectRatioWrapper169;
}

.videoAspectRatioInside {
  @extend %aspectRatioInside;
}

.videoIframe,
:global(.vimeo) {
  width: 100%;
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
  }
}
