@import '../../../../scss/partials/layout';
@import '../../../../scss/partials/variables';

@import '../Header';

$topBarHeight: 30;
$avatarHeight: 12px;
$flagHeight: 9px;
$topBarTextFontSize: 10px;

.topBar {
  @extend %BodyPaddingWithMediaQueries;
  max-width: 100%;
  height: $topBarHeight + px;
  text-align: right;
}

.topBarColor {
  background-color: $topBarColor;
}

.user,
.country {
  display: inline-block;
  height: 100%;
}

.avatar,
.userText,
.flag,
.countryText {
  display: inline-block;
  vertical-align: middle;
}

.user {
  margin-right: 48px;
}

.avatar {
  margin-right: 7px;
  width: 10px;
  height: $avatarHeight;
}

.userText {
  height: $topBarTextFontSize;
}

.flag {
  margin-right: 9px;
  width: 15px;
  height: $flagHeight;
}

.countryText {
  height: $topBarTextFontSize;
}

// Bottom bar

$bottomBarHeight: 60;
$logoWidth: 65px;
$magnifyingGlassWidth: 19px;
$menuSideMargin: 127px;

.bottomBar {
  @extend %BodyPaddingWithMediaQueries;
  max-width: 100%;
  position: relative;
  height: $bottomBarHeight + px;
}

.logoWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 12px;
  margin-left: $DesktopBodyPadding;
  width: $logoWidth;
  height: $logoWidth;
}

.logoImage {
  width: 100%;
  height: 100%;
}

.menuItems {
  display: block;
  box-sizing: border-box;
  float: left;
  // padding-right: $magnifyingGlassWidth + $menuSideMargin;
  // padding-left: $logoWidth + $menuSideMargin;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: 30px;
}

:export {
  bottombarheight: $bottomBarHeight;
  topbarheight: $topBarHeight;
  totalheight: $bottomBarHeight + $topBarHeight;
}
