@import '../../../../../scss/partials/variables';

.filters {
  margin-bottom: 40px;

  h6.parentTitle {
    margin-bottom: 5px;
    color: $gray;
  }

  .checkbox {
    h5 {
      text-transform: none;
    }
  }

  :global(.checkbox-filter-count) {
    color: $gray;
  }
}
