@import '../../../../scss/partials/layout';
@import '../../../../scss/partials/mixins';
@import '../../../../scss/partials/variables';

.ProductCategory {
  padding-top: 40px;

  @include respond-to(tablet) {
    padding-top: 35px;
  }

  @include respond-to(desktop) {
    padding-top: 60px;
  }

  h5.topCategoryTitle {
    @extend %BodyPaddingWithMediaQueries;
    max-width: 1170px;
    color: $black;
  }

  :global(.default-template-title) {
    margin-top: 8px;
    margin-bottom: 25px;

    @include respond-to(tablet) {
      margin-top: 16px;
      margin-bottom: 18px;
    }

    @include respond-to(desktop) {
      margin-top: 14px;
    }
  }

  .breadcrumbs {
    margin-bottom: 45px;
    border-bottom: 1px solid $silver;
    padding-bottom: 18px;

    @include respond-to(desktop) {
      margin-bottom: 60px;
    }
  }

  .sidebar {
    @include respond-to(tablet) {
      padding-right: 20px;
    }
  }

  button.showFilters {
    margin-bottom: 20px;
    background-color: $slate-grey;
  }

  .noResults {
    margin-bottom: 25px;

    @include respond-to(tablet) {
      margin-bottom: 30px;
    }

    @include respond-to(desktop) {
      margin-bottom: 45px;
    }
  }
}
